@import "tailwindcss";
@theme{
    --color-nav1:#1f1f22;
    --color-nav2:#161619;
    --color-nav3:#1f1f22;
}

body{
    backgroud-image: url('./Finalbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    
}